//breakpoint
$bp-md:768px;

//Colors
$oil: rgb(31, 78, 117);
$grisaceo: rgb(100, 102, 104);
$rouge:rgb(209, 138, 138);
$mono:#2d6e8ede;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans+Condensed:wght@300&display=swap');

$inconsolata: 'Inconsolata', monospace;
$condensed: 'Open Sans Condensed', sans-serif;