.header{
    padding: 30px;
    width: 100%;
    .navigation{
        display: flex;
        justify-content: space-between;
    
    &__logo{
        width: 9.375rem;
        height: auto;
        display: inline-block;
    }
    h1{
        display: inline-block;
    }
}
}
.img-dog{
    height: 19.75rem;
    width: auto;
}

