*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-image: url('https://www.muralswallpaper.com/app/uploads/Blue-Dog-Paw-Print-Pattern-Wallpaper-Mural-Plain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: inherit;
    font-family: $inconsolata;
}